*{
  margin: 0;
  padding: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
main {
  width: 100vw;
  width: 100%;
  position: absolute;
  color: aliceblue;
  font-size: 2rem;
  margin: 0px auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.sun {
  grid-column: 2 / span 6;
  padding-top: 150px;
  margin-bottom: 250px;
  margin-top: 150px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
}

.mercury {
  grid-column: 7 / 12;
  margin-bottom: 100px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
}

.venus {
  grid-column: 2 / 8;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
}

.earth {
  grid-column: 2 / 7;
  margin-bottom: 450px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
}

.mars {
  grid-column: 5 / 12;
  margin-bottom: 5000px;
  margin-left: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
  
}

.jupiter {
  grid-column: 2/7;
  margin-bottom: 2300px;
  padding-right: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
}

.filler {
  grid-column: 7 / 12;
}

.saturn {
  grid-column: 7/12;
  margin-bottom: 3500px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
}

.uranus {
  grid-column: 2/8;
  margin-bottom: 3500px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
}

.neptune {
  grid-column: 6/12;
  margin-bottom: 3500px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
}